<div class="card mb-3">
  <h2 class="card-header h4">
    Shot #<%= shot.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Shot distance</dt>
      <dd><%= shot.shot_distance %></dd>

      <dt>Shot results</dt>
      <dd><%= shot.shot_results %></dd>

      <dt>Distance to green</dt>
      <dd><%= shot.distance_to_green %></dd>

      <dt>Shot type</dt>
      <dd><%= shot.shot_type %></dd>

      <dt>Hole</dt>
      <dd>
        <% if @shot.hole.present? %>
          <%= link_to shot.hole, shot.hole %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back shot, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_shot_url(shot), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to shot, method: :delete, data: { confirm: "Do you really want to delete this shot?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(shot.updated_at) %> ago
  </div>
</div>
