<%= form_with(model: @round, local: true) do |f| %>

  <%= f.hidden_field :course_id, value: @golf_course.id %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label :score %>

    <%= f.text_field :score, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :best_hole %>

    <%= f.text_field :best_hole, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :worst_hole %>

    <%= f.text_field :worst_hole, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reason_wonlost %>
    <%= f.text_area :reason_wonlost, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :best_hole_description %>

    <%= f.text_field :best_hole_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :worst_hole_description %>

    <%= f.text_field :worst_hole_description, class: "form-control" %>
  </div>

  <%= f.submit "Create round", class: "btn btn-block btn-outline-secondary" %>
<% end %>
