<%= form_with(model: @holes_overview, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :hole_number %>

    <%= f.text_field :hole_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :distance_to_hole %>

    <%= f.text_field :distance_to_hole, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :distance_to_green %>

    <%= f.text_field :distance_to_green, class: "form-control" %>
  </div>

  <%= f.hidden_field :golf_course_id, value: @golf_course.id %>

  <%= f.submit "Create holes overview", class: "btn btn-block btn-outline-secondary" %>
<% end %>
