<% was_validated = friend.errors.any? %>

<%= form_with(model: friend, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% friend_class = "form-control" %>
    <% friend_was_invalid = friend.errors.include?(:friend) %>

    <% if was_validated %>
      <% if friend_was_invalid %>
        <% friend_class << " is-invalid" %>
      <% else %>
        <% friend_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :friend_id %>
    <%= f.collection_select :friend_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if friend_was_invalid %>
      <% friend.errors.full_messages_for(:friend).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
