<div class="card mb-3">
  <h2 class="card-header h4">
    Holes Overview #<%= holes_overview.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Hole number</dt>
      <dd><%= holes_overview.hole_number %></dd>

      <dt>Distance to hole</dt>
      <dd><%= holes_overview.distance_to_hole %></dd>

      <dt>Distance to green</dt>
      <dd><%= holes_overview.distance_to_green %></dd>

      <dt>Golf course</dt>
      <dd>
        <% if @holes_overview.golf_course.present? %>
          <%= link_to holes_overview.golf_course, holes_overview.golf_course %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back holes_overview, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_holes_overview_url(holes_overview), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to holes_overview, method: :delete, data: { confirm: "Do you really want to delete this holes_overview?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(holes_overview.updated_at) %> ago
  </div>
</div>
