<%= form_with(model: @holes_result, local: true) do |f| %>

  <%= f.hidden_field :round_id, value: @round.id %>

  <div class="form-group">
    <%= f.label :hole_number %>

    <%= f.text_field :hole_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :number_of_strokes %>

    <%= f.text_field :number_of_strokes, class: "form-control" %>
  </div>

  <%= f.submit "Create holes result", class: "btn btn-block btn-outline-secondary" %>
<% end %>
