<div class="card mb-3">
  <h2 class="card-header h4">
    Holes Result #<%= holes_result.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Round</dt>
      <!-- Display round_id start -->
      <dd><%= holes_result.round_id %></dd>
      <!-- Display round_id end -->

      <dt>Hole number</dt>
      <!-- Display hole_number start -->
      <dd><%= holes_result.hole_number %></dd>
      <!-- Display hole_number end -->

      <dt>Number of strokes</dt>
      <!-- Display number_of_strokes start -->
      <dd><%= holes_result.number_of_strokes %></dd>
      <!-- Display number_of_strokes end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back holes_result, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link holes_result start -->
      <div class="col">
        <%= link_to edit_holes_result_url(holes_result), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link holes_result end -->

      <!-- Delete link holes_result start -->
      <div class="col">
        <%= link_to holes_result, method: :delete, data: { confirm: "Do you really want to delete this holes_result?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link holes_result end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(holes_result.updated_at) %> ago
  </div>
</div>
