<%= form_with(model: @shot, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :shot_distance %>

    <%= f.text_field :shot_distance, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :shot_results %>

    <%= f.text_field :shot_results, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :distance_to_green %>

    <%= f.text_field :distance_to_green, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :shot_type %>

    <%= f.text_field :shot_type, class: "form-control" %>
  </div>

  <%= f.hidden_field :hole_id, value: @holes_result.id %>

  <%= f.submit "Create shot", class: "btn btn-block btn-outline-secondary" %>
<% end %>
